<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/image_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/image_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekKampus"
        tools:targetApi="31"
        android:exported="true">

        <activity
            android:name=".MainActivity"
            android:exported="true" android:theme="@style/Theme.ProjekKampus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.ProjekKampus" />

        <activity
            android:name=".MainContent"
            android:theme="@style/Theme.ProjekKampus" />

        <activity
            android:name=".AddReview"
            android:theme="@style/Theme.ProjekKampus"/>

        <activity
            android:name=".EditReviewActivity"
            android:theme="@style/Theme.ProjekKampus"/>

    </application>

</manifest>
